# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# 💡 storage 配下の画像ファイル（バイナリ）はGit管理から除外する
storage/games/*
storage/machines/*
storage/genres/*
storage/manufacturers/*

# 💡 ただし、空のフォルダ構造だけはGitに追跡させたい（クローンした直後にフォルダがないエラーを防ぐため）
!storage/games/.gitkeep
!storage/machines/.gitkeep
!storage/genres/.gitkeep
!storage/manufacturers/.gitkeep